# Environment variables for the Playwright on Sauce Labs demo
# Environment name
ENV="<environment_name>"

# URL for Sauce Labs
SAUCE_URL="<sauce_url>"

# username & password for Sauce Labs login
SAUCE_USERNAME="<sauce_username>"
SAUCE_PASSWORD="<sauce_password>"

# retries for CI environment
CI = <true_or_false>